body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    color: #3A65BD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #3A65BD;
    color: #3A65BD;
    padding: 10px 10px;
    box-sizing: border-box;
}

header .logo {
    width: 50px;
    height: auto;
}

header h1 {
    margin: 0;
    text-align:left;
    font-weight: bold;
    font-size:xx-large;
    color: #ffffff;
}

h4 {
    font-size: 1.2rem; /* Ajusta el tamaño según tus necesidades */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size:medium;
}

main {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-y: auto;
}

.banner {
    background-color: #ffffff;
    padding: 20px; 
    color: #3A65BD;
    font-size: 1.0rem;
}

.btn {
    background-color: #3A65BD;
}

.chatbot {
    width: 100%;
    height: 90vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    min-height: 400px;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding-bottom: 56.25%; /* Aspect ratio para mantener el iframe responsivo */
    overflow:hidden;
    align-items: center;
}

.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border:none;
    overflow: hidden;
}


.text {
    color: #3A65BD;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0rem; 
}


.doc {
    width: 100%;
    height: 75vh;
    border-radius: 8px;
    background-color: #ffffff;
}

.gfm-embed {
    background-color: #ffffff;
    max-height: fit-content;
    border:none;
    width:100%;
    padding:4px;
    background:#ffffff;
    height:100%;
}

footer {
    width: 100%;
    background-color: #3A65BD;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}

.social-icon {
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px; /* Ajusta el tamaño según tus necesidades */
}

/* Media query to hide elements on mobile */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    footer {
        width: 100%;
        position: relative;
    }
    .chatbot {
        height: 85vh;
        min-height: 700px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .desktop {
        display: none;
    }
    .chatbot {
        height: 85vh;
        min-height: 700px;
    }
    .social-icons {
        display: grid;
        grid-template-columns: repeat(2, auto); /* Dos columnas */
        gap: 10px;
    }
    .iframe-container {
        min-height: 660px;
    }
}

/* Media query to hide elements on desktop */
@media (min-width: 769px) {
    .mobile {
        display: none;
    }
}