/* Reset margins for core elements */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header, footer {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f1f1f3;
    color: #0F483F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F483F;
    color: #0F483F;
    padding: 10px 10px;
    box-sizing: border-box;
}

header .logo {
    width: 50px;
    height: auto;
}

header h1 {
    margin: 0;
    text-align:left;
    font-weight: bold;
    font-size:xx-large;
    color: #f1f1f3;
}

h4 {
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #f1f1f3;
    text-decoration: none;
    font-weight: bold;
    font-size:medium;
}

.nav-link:hover {
    color: #59A897 
}
.text-link {
    color: #59A897 
}
.text-link:hover {
    color: #0F483F; 
}

main {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f1f1f3;
    overflow-y: auto;
    width: 100%;
    margin: 0;
}

.text-container {
    background-color: #f1f1f3;
    padding: 20px; 
    color: #0F483F;
    font-size: 1.0rem;
}

.btn-spacing {
    margin-right: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #0F483F;
    border:none;
}
a.btn:focus {
    background-color: #0F483F;
    color: #59A897;
}
.chatbot {
    width: 100%;
    height: 85vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f1f1f3;
    min-height: 450px;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    padding-bottom: 56.25%;
    overflow:hidden;
    align-items: center;
}

.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border:none;
    overflow: hidden;
}

.text-bold {
    color: #0F483F;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0rem; 
}

.doc {
    width: 100%;
    height: 75vh;
    border-radius: 8px;
    background-color: #f1f1f3;
}

footer {
    background-color: #0F483F;
    color: #f1f1f3;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f1f1f3;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}

.social-icon {
    width: 24px;
    height: 24px;
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    left:10%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f1f1f3;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}
.cookie-consent p {
    margin: 0;
    padding: 0;
}
.cookie-consent a {
    color: #f1f1f3;
    text-decoration: underline;
}
.cookie-consent button {
    margin-left: 10px;
    border:none;
    background-color: #59A897;
}
.cookie-consent button:hover {
    background-color: #0F483F;
}

/* Media query to hide elements on mobile */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    footer {
        width: 100%;
        position: relative;
    }
    .chatbot {
        height: 85vh;
        min-height: 700px;
    }
    .cookie-consent {
        padding: 10px 5px;
        left:0;
        width: 100%;
    }
    .cookie-consent button {
        margin-top: 10px;
        display: inline;
        width: fit-content;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .desktop {
        display: none;
    }
    .chatbot {
        height: 85vh;
        min-height: 700px;
    }
    .social-icons {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }
    .iframe-container {
        padding-top: 5%;
        min-height: 550px;
    }
}

/* Media query to hide elements on desktop */
@media (min-width: 769px) {
    .mobile {
        display: none;
    }
}