body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f0;
    color: #042287;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f9f9f0;
    color: #042287;
    padding: 10px 10px;
    box-sizing: border-box;
}

header .logo {
    width: 50px;
    height: auto;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    padding-left: 30px;
    text-align:left;
    font-weight: bold;
}

h4 {
    font-size: 1.2rem; /* Ajusta el tamaño según tus necesidades */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #042287;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f0;
    overflow-y: auto;
}

.banner {
    background-color: #f9f9f0;
    padding: 20px; 
    color: #002244;
    font-size: 1.0rem;
    min-height: 640px;
}

.btn {
    background-color: #3A65BD;
}

.chatbot {
    width: 100%;
    height: 90vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f0;
}

.iframe-container {
    position: absolute;
    width: 100%;
    height: 90vh;
    padding-bottom: 56.25%; /* Aspect ratio para mantener el iframe responsivo */
    overflow:hidden;
    min-height: 400px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border:none;
    padding:4px;
    background:#f9f9f9;
    min-height: 400px;
}

.iframe-container .override-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 120px;
    z-index: 2;
    background:  #f9f9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9rem; 
}


.doc {
    width: 100%;
    height: 75vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f0;
}

.gfm-embed {
    background-color: #f9f9f0;
    max-height: fit-content;
    border:none;
    width:100%;
    padding:4px;
    background:#f9f9f9;
    height:100%;
}

footer {
    width: 100%;
    background-color: #f9f9f0;
    color: #042287;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #042287;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: ;
}

/* Media query to hide elements on mobile */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    footer {
        width: 100%;
        position: relative;
    }
    .chatbot {
        height: 85vh;
        min-height: 500px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .desktop {
        display: none;
    }
    .chatbot {
        height: 80vh;
        min-height: 450px;
    }
}

/* Media query to hide elements on desktop */
@media (min-width: 769px) {
    .mobile {
        display: none;
    }
}